In [1]:
import pandas as pd
import numpy as np

In [13]:
energy = pd.read_excel("EnergyConsumption.xls", sheet_name="Energy")
direct = pd.read_excel("EnergyConsumption.xls", sheet_name="Direct_Use")
reallocate = pd.read_excel("EnergyConsumption.xls", sheet_name="Reallocated")
totals = pd.read_excel("EnergyConsumption.xls", sheet_name="Total_Use")

In [23]:
energy = energy.T
direct = direct.T
reallocate = reallocate.T
totals = totals.T

In [20]:
energy.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Million tonnes of oil equivalent,Energy from renewable & waste sources,Hydroelectric power,"Wind, wave, tidal1",Solar photovoltaic,Geothermal aquifers,Landfill gas,Sewage gas,Biogas from autogen,Municipal solid waste (MSW),Poultry litter,Straw,Wood,Charcoal,Liquid bio-fuels,Bioethanol2,Biodiesel2,Biomass,Cross-boundary Adjustment2
1990,1.501,0.448,0.001,0.0,0.001,0.08,0.138,0.0,0.183,0.0,0.007,0.541,0.039,0.0,0.0,0.0,0.065,0.0
1991,1.517,0.398,0.001,0.0,0.001,0.105,0.151,0.0,0.185,0.0,0.007,0.57,0.036,0.0,0.0,0.0,0.065,0.0
1992,1.682,0.467,0.003,0.0,0.001,0.155,0.151,0.0,0.21,0.016,0.007,0.574,0.033,0.0,0.0,0.0,0.065,0.0
1993,1.762,0.37,0.019,0.0,0.001,0.162,0.158,0.0,0.268,0.043,0.007,0.636,0.034,0.0,0.0,0.0,0.065,0.0

In [22]:
direct.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
Million tonnes of oil equivalent,Direct3 use of energy from renewable & waste s...,"Agriculture, forestry and fishing",Mining and quarrying,Manufacturing,"Electricity, gas, steam and air conditioning s...","Water supply; sewerage, waste management and r...",Construction,Wholesale and retail trade; repair of motor ve...,Transport and storage,Accommodation and food services,...,Real estate activities,"Professional, scientific and technical activities",Administrative and support service activities,Public administration and defence; compulsory ...,Education,Human health and social work activities,"Arts, entertainment and recreation; other serv...",Other service activities,Activities of households as employers; undiffe...,Consumer expenditure
1990,1.501,0.013,0.003,0.536,0.325,0.152,0.007,0.024,0.007,0.013,...,0.001,0.007,0.003,0.01,0.008,0.008,0.003,0.002,0.0,0.365
1991,1.517,0.012,0.003,0.516,0.343,0.167,0.007,0.02,0.006,0.011,...,0.001,0.006,0.003,0.01,0.009,0.009,0.003,0.002,0.0,0.378
1992,1.682,0.013,0.004,0.528,0.444,0.166,0.01,0.024,0.007,0.014,...,0.002,0.008,0.003,0.013,0.012,0.011,0.003,0.002,0.0,0.404
1993,1.762,0.012,0.003,0.512,0.552,0.14,0.008,0.021,0.008,0.012,...,0.001,0.007,0.003,0.009,0.008,0.008,0.003,0.002,0.0,0.441

In [24]:
reallocate.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
Million tonnes of oil equivalent,Reallocated3 use of energy from renewable & wa...,Energy industry electricity transformation los...,"Agriculture, forestry and fishing",Mining and quarrying,Manufacturing,"Electricity, gas, steam and air conditioning s...","Water supply; sewerage, waste management and r...",Construction,Wholesale and retail trade; repair of motor ve...,Transport and storage,...,Real estate activities,"Professional, scientific and technical activities",Administrative and support service activities,Public administration and defence; compulsory ...,Education,Human health and social work activities,"Arts, entertainment and recreation; other serv...",Other service activities,Activities of households as employers; undiffe...,Consumer expenditure
1990,1.501,NaN,0.015,0.005,0.588,0.161,0.156,0.01,0.034,0.009,...,0.002,0.01,0.004,0.014,0.012,0.012,0.004,0.002,0.0,0.423
1991,1.517,NaN,0.015,0.005,0.57,0.164,0.172,0.011,0.031,0.009,...,0.002,0.01,0.004,0.015,0.013,0.013,0.004,0.002,0.0,0.443
1992,1.682,NaN,0.016,0.005,0.596,0.207,0.172,0.016,0.039,0.011,...,0.002,0.012,0.005,0.021,0.018,0.018,0.005,0.003,0.0,0.491
1993,1.762,NaN,0.016,0.005,0.604,0.236,0.148,0.015,0.041,0.016,...,0.003,0.013,0.005,0.018,0.015,0.015,0.005,0.003,0.0,0.555

In [25]:
totals.head()

,0,1,2
Million tonnes of oil equivalent,Energy from renewable sources and waste,Total energy consumption of primary fuels and ...,Percentage from renewable sources and waste
1990,1.501,224.63,0.007
1991,1.517,230.603,0.007
1992,1.682,227.925,0.007
1993,1.762,230.564,0.008